body {
    background: url("./image/bg.jpg");
    background-position: center;
    background-size: cover;
}
.form {
    background-color: #0A2647;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.overlay{
    background-color: rgba(0, 0, 0, .9);
    
}

.back {
    background-color: #0A2647;
    position: center center;
    z-index: 1;
}

input {
    padding: 0.5rem;
    width: 700px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.aaa{
    text-decoration: none;
    color: white    ;
}